* {
    padding: 0;
    margin: 0;
}

body {
    background: #FFFFE0;
}

.container {
    transform-style: preserve-3d;
    transition: all 3s;
    position: relative;
}

img {
    width: 100%;
}

.container>li {
    list-style: none;
}

.resume {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../imags/img2.jpg') no-repeat;
    background-size: cover;
    transform: translateZ(960px);
    opacity: 0.5;

}


.resume-two {
    width: 100%;
    height: 100%;
    background: url('../imags/img1.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    transform: translateZ(-960px);
    opacity: 0.8;


}

.resume-three {
    width: 100%;
    height: 100%;
    background: url('../imags/book2.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    transform: rotateX(-90deg) translateZ(484px);
    opacity: 0.8;
}


.user-heard-wrap {
    width:380px;
    border: 5px solid #BF3EFF;
    border-radius: 20px;
    background: #EED2EE;
    position: fixed;
    top: 4%;
    left: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 30;
    opacity: 0.3;

}

.heard-img {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 5%;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0
}

.heard-img>img {
    width: 100%;


}

.user-name {
    width: 110px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 30px;
    background: black;
    color: #ffff;
    border-radius: 10px;
    margin-left: 5%;
}

.user-resume {
    display: block;
    font-size: 35px;
    height: 60px;
    line-height: 50px;
    margin-left: 5%;
    border-radius: 10%;
}
.resume-name-wrap {
    width: 600px;
    height: 300px;
    background: #EED2EE;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-300px;
    margin-top: -150px;
    transition: all 2s;
    z-index: 888;
    opacity: 0.3;
  
}

.user-english-name {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

.user-life {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.user-chinese-name {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}

.user-profession {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;

}

.year {
    font-size: 40px;
    text-align: center;
    color: red;
    margin-top: 20px;
}

.resume-name-wrap:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 10px 10px 5px black;;

}



.A4-pagers {
    width: 830px;
    height: 920px;
    margin: 20px auto;
    background:#FFFFE0;
    opacity: 0.8;
    transform: rotate(-6deg);
    transition: all 2s ease 1s
}
.A4-pagers:hover{
          transform: rotate(0deg) scale(1.1)
}
.user-heard-content-wrap {
    width: 100%;
    margin-top: 40px;

}

.heard-content-wrap {
    display: flex;
    justify-content: space-between;
}

.name1 {
    display: block;
    width: 300px;
    text-align: center;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
}

.user-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.personal-information {
    display: block;
    width: 300px;
    font-size: 15px;
    line-height: 25px;
}
.user-emal{
    width:600px;
    height: 60px;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-left-content-wrap{
    width:390px;
    border-right: 3px dashed #F08080;
    float: left;
    margin-left: 22px;
  
}
.wuser-right-content-wrap{
    width:390px;
    float: left;
}
.fl{
    width:390px;
}
.comment>p{
    margin-top: 10px;
    margin-left: 30px;
   
 
}
.fl{
    margin-top: 10px;
    font-size: 20px;
    line-height:30px;
}

.fl>span{
    display:block;
    width:145px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    letter-spacing:8px;
    margin: 20px auto;
    color: #Ffff;
    background: #63B8FF;
    border-radius: 8px;
}
.tuding{
    width: 100px;
    height: 100px;
    position: absolute;
    top:-40px;
    left: 2px;
}
.img3{
    position: absolute;
    top: 110px;
    right: 90px;
    width: 280px;
    height: 450px;
}
.back{
    width: 163px;
    height: 150px;
    position: absolute;
    bottom:270px;
    right:290px;
    cursor: pointer;
    transition: all 2s


}
.back p{
    transform: rotateZ(-29deg);
    position: absolute;
    top:45px;
    font-size: 20px;
    left: 50px;
  color:#FFE4B5;
}
.back:hover{
    transform: rotateZ(28deg)
}